TAG=latest

PG_DATABASE_USER=postgres
PG_DATABASE_PASSWORD=postgres
PG_DATABASE_HOST=db
PG_DATABASE_PORT=5432
PG_DATABASE_NAME=default
REDIS_URL=redis://redis:6379

SERVER_URL=http://0.0.0.0:17001
TWENTY_HTTP_PORT=17001

# Generate a strong value here
APP_SECRET=replace_me_with_a_random_string

STORAGE_TYPE=local
