# Database
ESPOCRM_DB_ROOT_PASSWORD=root_password
ESPOCRM_DB_PASSWORD=database_password
ESPOCRM_DB_NAME=espocrm
ESPOCRM_DB_USER=espocrm

# EspoCRM admin
ESPOCRM_ADMIN_USERNAME=admin
ESPOCRM_ADMIN_PASSWORD=password

# Networking
ESPOCRM_HTTP_PORT=8080
ESPOCRM_WEBSOCKET_PORT=8081
ESPOCRM_SITE_URL=http://localhost:8080

# Websocket defaults
ESPOCRM_CONFIG_USE_WEB_SOCKET=true
ESPOCRM_CONFIG_WEB_SOCKET_URL=ws://localhost:8081
ESPOCRM_CONFIG_WEB_SOCKET_ZERO_M_Q_SUBSCRIBER_DSN=tcp://*:7777
ESPOCRM_CONFIG_WEB_SOCKET_ZERO_M_Q_SUBMISSION_DSN=tcp://espocrm-websocket:7777
